#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:lthgfhjkm2012
  expire: False

users:
  - name: deployer # Change me
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDaCNTfSZB6m+tvTDAuqXtiZOXVYEHcNtNy8YfX4UKFtIO7hYM1x8/PaObfumac4LN6AVzXlr30Mo9glbWV5/9Rg3q94jipEDkeryVpw1FLiY/BUZ/Bl5Rh0rxuUmVDAopMQUswPocNJ4KkXoKayHrxfSktrN7hsOO4A/92TWTUs9kZpHjnahWrhUKmaH8Tkox9FWzphP4GZneJ1mROqekwOk2YQGTkak+Krb11YwthyoSgTur3W4+QgwwLTXV5p8UbZDb82KuPxZS+Vq6JmcGvNSLZ3/nPnEeKo4VlsWBlsqwoVDfbn4Nf/1NqWyU9YBTe8jf/Qo0F2jht/a5hZ1R9P/+1cetpTSSwbqBENCvaZX9J2OzCW/uZwzcTofNFxSfX8CAfzRLR/hzSaw6D32D25kV8p9HLdcPwjVNg5Lh9UMxzsvJ3dCI3xJgwdq7lnwvpnteEwMPKx0O8yNJcTrNYoDwKvcUMKmejc6Shabqzw9WmVWtzA3ltRsInIag5sYs= ivanopulo@wks2
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
package_update: true
packages:
  - qemu-guest-agent
runcmd:
#  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
#  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
#  - sudo apt-get update
#  - sudo apt-get install -y docker-ce
#  - sudo usermod -aG docker $(whoami)
#  - sudo systemctl enable docker
#  - sudo systemctl start docker qemu-guest-agent.service
#  - sudo curl -L https://github.com/docker/compose/releases/download/1.16.1/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
#  - sudo chmod +x /usr/local/bin/docker-compose
  - sudo systemctl start qemu-guest-agent.service

#growpart:
#  mode: auto
#  devices: ['/']
